<!DOCTYPE html>
<html>
	<head>
		<title>Project 4 Budget Manager</title>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
		<link href={{url_for('static', filename = 'style.css')}} type='text/css' rel='stylesheet'/>
	</head>
	<body>
		<h1 id="title">Project 4 Budget Manager</h1>
		<h1>Create New Category</h1>
		<form name="categories">
			<span>Category Name</span><br />
			<input type="text" id="newCat" name="" value="" ><br />
			<span>Budget limit</span><br />
			<input type="type" id="limit" name="" value=""><br />
			<input type="button" id="addCat" value="Add"><br />
		</form>

		<h1>Budget Overview</h1>
		<table id="catTable" cellpadding="10"></table>
		<h2 id="noCat">Non-Categorized Spending:</h2>

		<h1>Add New Purchase</h1>
		<form name="purchases">
			<span>Purchase Name</span><br />
			<input type="text" id="newPurchase" name="" value="" ><br />
			<span>Purchase Cost</span><br />
			<input type="type" id="cost" name="" value=""><br />
			<span>Date of Purchase</span><br />
			<input type="date" id="date" name="" value=""><br />
			<span>Category</span><br />
			<select id="cat" name="" value=""><br />
			<input type="button" id="addPurchase" value="Add"><br />
		</form>

		<h1>Purchase List</h1>
		<table id="purchaseTable" cellpadding="10"></table>

	</body>
</html>